
.lists{
    width: 100%;
    height: 50px;
    background-color: rgb(241, 244, 245);
    border-bottom:1px solid rgb(193, 189, 216);
    border-top: 1px solid rgb(193, 189, 216);
}

.hover-img {
  height: 100px;
  background-color: rgb(241, 244, 245);
  border-bottom:1px solid rgb(193, 189, 216);
  border-top: 1px solid rgb(193, 189, 216);
}
.hover-img ul{
  list-style: none;
}
.hover-img ul li{
  float: left;
}
.hover-img ul li a{
  text-decoration: none;
  color: gray;
  font-size: 11px;
  padding: 2px;
}
.hover-img{
  display: none;
}
.lists ul{
    list-style: none;
}
.lists ul li{
    float: left;
}
.lists ul li a{
    text-decoration: none;
    padding: 15px;
    color: gray;
}
.lists img{
    width: 20px;
    height: 20px;
}
span{
    font-weight: bold;
}
.search{
    position: relative;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sear{
    position: relative;
    top:15px;
    width: 55%;
   
}    
.sear form ul{
    
    list-style:none ;
    position: relative;
    bottom: 50px;
    left: 50px;
}
.sear form ul li{
    float: left;
    box-sizing: border-box;
    border:1px solid rgb(193, 189, 216);
    border-radius: 30px;
    margin: 5px;
}
.sear form ul li a{
    text-decoration: none;
    padding: 15px;
    color: rgb(17, 15, 15);
  
}
.sear input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    background-color: rgb(241, 244, 245);
    background-image: url('images/editfind_104370.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
 
  
  .container1{
    width: 100%;
    height: 600px;
    border-radius: 5px;
    background-color: #f2f2f2;
  
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  position:absolute;
  z-index: 1;
  top: 0;
}

.is-hidden {
  display: none !important;
}
.container1 .hide-modal-btn{
  background-color: firebrick;
  color: white;
  width: 40px;
  height: 30px;
  position: relative;
  top:0px
}

#pop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(3, 3, 3, 0.6);
  display: none;
  transition: 1s;
}
.log_in{
  width: 400px;
  height: 400px;
    position: relative;
    left: 500px;
    background-color: rgb(226, 226, 236);
}
.log_in  .row input[type=email] {
  position: relative;
  left: 70px;
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right;
}
.log_in  .row input[type=password] {
  position: relative;
  left: 70px;
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right;
}
.log_in .one{
    position: relative;
    left: 80px;
    width: 200px;
    height: 50px;
    background-color: firebrick;
    color: #fff;
}
.log_in .tow{
 
 position: relative;
 left: 110px;
  width: 150px;
  height:50px ;
    background-color: rgb(17, 96, 243);
    color: white;
    border-radius: 4px;
}
.log_in p{
    position: relative;
    left: 150px;
    top:10px;
    color: #fff;
}
.log_in h2{
  position: relative;
  left: 150px;
  color: #fff;
}
  .option-list{
      position: relative;
      left: 300px;
  }
  .option-list ul{
      list-style: none;
  }
  .option-list ul li{
      float: left;
  }
  .option-list ul li a{
      text-decoration: none;
      color: gray;
      padding: 15px;
      font-size: 20px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .showSlider {
    display: none
    }
    .showSlider img {
    width: 100%;
    }
    .container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }
    .left, .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    }
    .right {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    .left:hover, .right:hover {
    background-color: rgba(115, 115, 115, 0.8);
    }
    .active {
    background-color: #717171;
    }
    /* Fading animation */
    .fad {
    -webkit-animation-name: fad;
    -webkit-animation-duration: 1.5s;
    animation-name: fad;
    animation-duration: 1.5s;
    }
    @-webkit-keyframes fad {
    from {
    opacity: .4
    }
    to {
    opacity: 1
    }
    }
    @keyframes fad {
    from {
    opacity: .4
    }
    to {
    opacity: 1
    }
    }
  .count{
    width: 80%;
    height: 500px;
    margin: 50px auto;
    display: none;
  
}
.count-1 img{
    position: relative;
    left: 500px;
    
}
.offfers{
    position: relative;
    left: 500px;
  color: rgb(245, 238, 238);
  font-size: 30px;
}
.count-1 p{
    font-size: 20px;
    color:rgb(245, 238, 238);
}

#popUP {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(3, 3, 3, 0.6);
  display: none;
  transition: 1s;
}
#demo{
position: relative;
top:20px;
left: 500px;
color: rgb(245, 238, 238);
font-size: 25px;
}
.off{
   position: absolute;
  color:rgb(245, 238, 238) ;
}
.off1{
    position: relative;
    top:70px;
    
    color: rgb(245, 238, 238);
}
hr{
  position: relative;
  top:20px
   
}
  .free{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
      h3{
text-align: right;
      position: relative;
      right: 40px;
  }
  .free .img1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgb(206, 200, 200);
    border-radius: 10px;
    padding: 10px;
  
  }
  
  .img1 a :hover{
    border:1px solid rgb(238, 7, 7);
  }
  
  .mySlides  a :hover{
    border:1px solid rgb(238, 7, 7);
  }
  
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  top:20px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Next & previous buttons */
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 100px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
  margin-right: 600px;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
  
  .all{
    width: 100%;
    height: 400px;
  background-color: rgb(44, 43, 43);
  }

  .li1 ul{
list-style: none;
  }
  .li1 ul li{
      float: left;
      margin: 30px;
      position: relative;
      left: 300px;
      border-bottom:1px solid rgb(125, 124, 129);
  }
  .li1 ul li a{
      text-decoration: none;
      padding: 15px;
      color: gray;
      font-size: 20px;
  }
   .main-list{
      display: flex;
      justify-content: space-between;
      width: 75%;
      position: relative;
     left: 300px;
  }
  .main-list .list1 ul{
      list-style: none;
  }
  .main-list .list1 ul li{
      padding: 5px;
      text-align:right ;
  }
  .main-list .list1 ul li a{
      text-decoration: none;
      color: white;
     
  }
  .main-list .last{
      background-color: rgb(59, 58, 58);
      border-radius: 10px;
      height: 150px;
      width: 250px;
      position: relative;
      left: 40px;
  }
  .last input{
      height: 40px;
      width: 180px;
      border-radius: 10px;
      position: relative;
      left: 30px;
      top:10px;
      text-align: right;
  }
 
  form img{
      position: relative;
      top: 15px;
      right: 150px;
  }
  button{
      position: relative;
      top: 20px;
      left: 30px;
      width: 80px;
      height: 30px;
  }
  .icons{
      width: 350px;
  }
  .icons ul{
      list-style: none;
  }
  .icons ul li{
      float: left;
      padding: 5px;
      
  }
  .icons  p a{
      text-decoration: none;
      color: gray;
      font-size: 20px;
      position: relative;
      left: 200px;
      border-bottom:1px solid rgb(125, 124, 129);
  }
  .icons img{
      width: 30px;
      height: 30px;
      position: relative;
      left:40px;
      border-radius: 30px;
  }
  .copy{
    background-color:rgb(229, 226, 226);
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: rgb(104, 100, 100);
  }

  .copy1 a{
      text-decoration: none;
      color: rgb(104, 100, 100);
      position: relative;
      top:10px;
  }
  
header div ul{
  display: none;
}
/* this media jquery for small devices like mobiles*/
@media screen  and (max-width: 450px) {

  .lists {
display: none;
  }
  header div ul{
      display: block;
      
  }
  header  div a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        padding: 15px;
        text-align: center;
        display:inline-block;
      }
      header div  ul {
        display: inline;
        margin: 0px;
        padding: 0px;
      }
      header div  ul li {
          display: inline-block;
    }
    header div  ul li:hover {
          background:rgb(216, 236, 241);
    }
    header div  ul li:hover ul {
          display: block;
        }
        header div  ul li ul {
        position: relative;
        width: 150px;
        display: none;
      }
      header div  ul li ul li { 
        background: rgb(196, 216, 221);
        display: block; 
      }
      header div  ul li ul li a {
          display:block !important;
        } 
        header div  ul li ul li:hover {
          background: rgb(212, 210, 210);
        }
        .option-list{
          display: none;
        }
.search{
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 15px;
}
.sear ul{
  display: none;
}
.img2 img{
  width: 70px;
}
.container1{
  width: 400px;
}
.free{
 display: flex;
 flex-flow: row wrap;
 
}
.img1{
 min-width: 200px;
}

.count-1 img{
  position: relative;
  left: 50px;
  top: 50px;
}
.offfers{
  position: relative;
  left: 50px;

}
#demo{
  position: relative;
  top:20px;
  left: 50px;
  }
.slidershow{
  position: relative;
  left: 0px;
  width: 400px;
}
.slideshow-container{
  width: 400px;
}
.mySlides {
  position: relative;
  top:10px
}
.prev , .next{
  margin: 0px;
  padding: 40px;
}
.prev{
  margin-right: 250px;
}
.next{
  margin-right: 50px;
}
.all{
  width: 450px;
}
.li1 ul li{
  float: left;
  margin: 0px;
  position: relative;
  left: 0px;
  top:10px
}
.li1 ul li a{
  font-size: 11px;
  padding: 10px;
  color: #f1f1f1;
}
.main-list{
  width: 105%;
      position: relative;
     left: 0px;  
}

.main-list .list1 ul li{
  padding: 3px;
}
.main-list .list1 ul li a{
  font-size: 11px;
}
.all2{
  position: relative;
  top:220px;
  right: 270px;
}
.all{
  
  height: 500px;
}
.icons{
  width: 300px;
  position: relative;

}
.icons ul li{
  float: left;
  padding: 5px;
 
}
.icons img{
  width: 20px;
  height: 20px;
  
}
.copy{
  width: 450px;
}
.copy1{
  width: 200px;

}
.copy2 img{
width:250px;
}
 .copy1 a , p{
  font-size: 11px;
}
}